<web-app>
 	<servlet>
 		<servlet-name>Wish</servlet-name>
 		<servlet-class>com.code.wish.WishingApp</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>Wish</servlet-name>
		<url-pattern>/wishurl</url-pattern> 	
 	</servlet-mapping>
 <welcome-file-list>
    <welcome-file>wish.html</welcome-file>
  </welcome-file-list>
</web-app>